# various other potential build files
/build

/projects
/plugin
/eclipse
/.gradle
/spigot
/patches2
/patches3
/patchesMCP
/projects2
/projects3
/projects4

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# Other
ForgeGradle-2.2-SNAPSHOT.jar